body {
  --process-renderer-border: 1px solid rgba(0, 0, 0, 0.1);
  --process-renderer-max-width: 120px;
  --process-renderer-name-background-color: rgba(1, 126, 127, 0.8);
  --process-renderer-name-font: normal 13px var(--theme-font);
  --process-renderer-icon-size: 24px;
  --process-renderer-icon-border-radius: 10px;
  --process-renderer-font: bold 16px/25px var(--mdc-icon-font, 'Material Icons');
  --process-renderer-icon-edit-background-color: #95d40f;
  --process-renderer-icon-view-background-color: #27a1de;

  /* list page style*/
  --process-list-background-color: var(--main-section-background-color);
  --process-list-border-radius: var(--border-radius);
  --process-list-box-border: var(--margin-default) solid #fff;
  --process-list-box-shadow: var(--box-shadow);
  --process-list-margin: var(--margin-default);
  --process-list-tile-background-color: #fff;
  --process-list-tile-name-font: bold 14px/18px var(--theme-font);
  --process-list-tile-name-color: var(--secondary-color);
  --process-list-tile-description-font: 12px/14px var(--theme-font);
  --process-list-tile-description-color: var(--secondary-text-color);
  --process-list-tile-icon-color: var(--opacity-dark-color);
  --process-list-star-color: var(--opacity-dark-color);
  --process-list-star-active-color: var(--primary-color);

  --card-list-template: repeat(3, minmax(auto, 100%));
  --card-list-rows-height: 180px;
  --card-list-background-color: rgba(0, 0, 0, 0.07);
  --card-list-border-radius: var(--border-radius);
  --card-list-flip-transform: rotateX(180deg);
  --card-list-create-border: 1px dashed var(--primary-color);
  --card-list-create-border-radius: var(--border-radius);
  --card-list-create-icon-color: var(--primary-color);
  --card-list-create-color: var(--secondary-color);
  --card-list-create-form-padding: 15px;
  --card-list-create-label-font: normal 14px var(--theme-font);
  --card-list-create-label-color: var(--secondary-color);
  --card-list-create-input-font: normal 14px var(--theme-font);
  --card-list-create-input-color: var();
  --card-list-create-input-border: 1px solid rgba(0, 0, 0, 0.2);
  --card-list-create-input-border-radius: var(--border-radius);
  --card-list-create-input-padding: 2px 9px;
  --card-list-create-margin: 0 0 7px 0;

  /* process modeler page style */
  --edit-toolbar-background-color: var(--secondary-text-color);
  --edit-toolbar-bigger-icon-size: 45px;
  --edit-toolbar-bigger-icon-line: 1px solid rgba(0, 0, 0, 0.1);
  --component-toolbar-background-color: var(--main-section-background-color);
  --component-toolbar-icon-size: 45px;
  --component-toolbar-border: 1px solid rgba(0, 0, 0, 0.1);
  --component-menu-background-color: #fff;
  --component-menu-border-color: var(--secondary-text-color);
  --component-menu-title: bold 11px/16px var(--theme-font);
  --component-menu-item-color: var(--secondary-color);
  --component-menu-item-hover-color: var(--secondary-text-color);
  --component-menu-item-icon-size: 20px;
  --property-sidebar-background-color: #eceff1;
  --property-sidebar-tab-icon-color: var(--secondary-color);
  --property-sidebar-fieldset-border: 1px solid rgba(0, 0, 0, 0.1);
  --property-sidebar-fieldset-label-color: var(--secondary-color);
  --property-sidebar-fieldset-label: normal 12px/16px var(--theme-font);
  --property-sidebar-fieldset-legend-color: var(--secondary-text-color);
  --property-sidebar-fieldset-legend: bold 11px/16px var(--theme-font);
  --scene-inspector-color: var(--secondary-color);
  --scene-inspector-selected-background-color: rgba(115, 188, 28, 0.2);
  --scene-inspector-selected-border: 1px solid rgba(115, 188, 28, 1);
  --scene-inspector-name-background-color: var(--primary-color);
  --scene-inspector-eye-icon-color: var(--secondary-text-color);
}

@media only screen and (max-width: 460px) {
  body {
    --card-list-template: repeat(1, minmax(auto, 100%));
  }
}
@media (min-width: 461px) and (max-width: 700px) {
  body {
    --card-list-template: repeat(2, minmax(auto, 100%));
  }
}
@media (min-width: 461px) and (max-width: 1024px) {
  body {
    --card-list-create-form-padding: 7px;
  }
}
@media (min-width: 1025px) and (max-width: 1400px) {
  body {
    --card-list-template: repeat(4, minmax(auto, 100%));
  }
}
@media (min-width: 1401px) and (max-width: 1800px) {
  body {
    --card-list-template: repeat(5, minmax(auto, 100%));
  }
}
@media (min-width: 1801px) and (max-width: 2200px) {
  body {
    --card-list-template: repeat(6, minmax(auto, 100%));
  }
}
@media only screen and (min-width: 2201px) {
  body {
    --card-list-template: repeat(7, minmax(auto, 100%));
  }
}
